<div align="right">
    {% if user.is_authenticated %}
        <small>Zalogowano jako</small>
        <a href="{% url 'profile' %}" class="btn btn-link">
            <small>{{ user.username }}</small>
        </a>&middot<a href="#" class="btn btn-link">
        <small>Ustawienia</small>
    </a>&middot<a href="{% url 'logout-redirect' %}" class="btn btn-link">
        <small>Wyloguj</small>
    </a>
    {% else %}
        <small>Jesteś niezalogowany</small>
        <a class="btn btn-link" onclick="document.getElementById('register-login-form').style.display='block';">
        <small>Zaloguj się lub zarejestruj</small>
        </a>
    {% endif %}
</div>


