<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Strona główna</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
            <li><a href="{% url 'history' %}">Historia czytania</a></li>
            <li><a href="#">Ulubione książki</a></li>
            <li><a href="{% url 'stats' %}">Statystyki</a></li>
            <li><a href="#">Znajomi</a></li>
        </ul>
    </div>
</nav>