{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
    <script type="text/javascript" src="../../../static/book_stats/sorter/jquery-latest.js"></script>
    <script type="text/javascript" src="../../../static/book_stats/sorter/jquery.tablesorter.js"></script>


    <link type="text/javascript" href="{% static 'book_stats/sorter/jquery-latest.js' %}">
    <link type="text/javascript" href="{% static 'book_stats/sorter/jquery.tablesorter.js' %}">

    <script type="text/javascript">
        $(function () {
            $('table').tablesorter();
        });

    </script>
{% endblock %}

{% block style %}
    #sort1 {
    display: none;
    }

    #forsaken {
    background-color: sandybrown;
    font-size: 85%;
    font-weight: lighter;
    }

    .glyphicon-sort {
    display: none;
    }

    th:hover > .glyphicon-sort {
    display: inline-block;
    }
{% endblock %}

{% block content %}

    <div>
        <div class="row">
            <div class="col-md-6">
                <h3>Historia czytania</h3>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="attr">Książka <span class="glyphicon glyphicon-sort"></span></th>
                <th class="attr">Data rozpoczęcia <span class="glyphicon glyphicon-sort"></span></th>
                <th>Data zakończenia <span class="glyphicon glyphicon-sort"></span></th>
                <th>Ile dni <span class="glyphicon glyphicon-sort"></span></th>
                <th>Liczba stron <span class="glyphicon glyphicon-sort"></span></th>
                <th>Liczba stron dziennie <span class="glyphicon glyphicon-sort"></span></th>
            </tr>
            </thead>
            <tbody>

            {% for b in books %}
                {% if b.done > 0 %}
                    <tr>
                        <td>
                            <a href="#" style="color:darkslategrey">{{ b.author }}</a> &mdash;
                            <a href="#" style="color:darkslategrey">{{ b.title }}</a>
                        </td>
                        <td><a href="#" style="color: black">{{ b.start }}</a></td>
                        <td><a href="#" style="color: black">{{ b.end }}</a></td>
                        <td>{{ b.days }}</td>
                        <td>{{ b.pages }}</td>
                        <td>{{ b.speed }}</td>
                    </tr>
                {% endif %}
            {% endfor %}


            </tbody>
        </table>


        <div class="row">
            <div class="col-md-6">
                <h4>Książki porzucone</h4>
            </div>
        </div>

        <table class="table table-condensed" id="forsaken">
            <thead>
            <tr>
                <th>Książka <span class="glyphicon glyphicon-sort"></span></th>
                <th>Data rozpoczęcia <span class="glyphicon glyphicon-sort"></span></th>
                <th>Data porzucenia <span class="glyphicon glyphicon-sort"></span></th>
                <th>Ile dni <span class="glyphicon glyphicon-sort"></span></th>
                <th>Przeczytane <span class="glyphicon glyphicon-sort"></span></th>
                <th>Liczba stron dziennie <span class="glyphicon glyphicon-sort"></span></th>
                <th>Przywróć</th>
            </tr>
            </thead>
            <tbody>

            {% for b in books %}
                {% if b.done == 0 %}
                    <tr>
                        <td>
                            <a href="#" style="color:darkslategrey">{{ b.author }}</a> &mdash;
                            <a href="#" style="color:darkslategrey">{{ b.title }}</a>
                        </td>
                        <td><a href="#" style="color: black">{{ b.start }}</a></td>
                        <td><a href="#" style="color: black">{{ b.end }}</a></td>
                        <td>{{ b.days }}</td>
                        <td>{{ b.onpage }}/{{ b.pages }} stron</td>
                        <td>{{ b.speed }}</td>
                        <td>
                            <form action="{% url 'restore' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ b.title }}" name="title">
                                <input type="hidden" value="{{ b.author }}" name="author">

                                <button type="submit" class="btn btn-link">
                                    <span class="glyphicon glyphicon-repeat" style="color:darkgreen"></span>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}


            </tbody>
        </table>
    </div>

{% endblock %}
