<!DOCTYPE html>
<html>
<head>
		<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/serial.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <style>

        #chartdiv {
            width: 100%;
            height: 500px;
            font-size: 11px;
        }

        #piediv {
            width: 100%;
            height: 400px;
            font-size: 11px;
        }

        .amcharts-pie-slice {
            transform: scale(1);
            transform-origin: 50% 50%;
            transition-duration: 0.3s;
            transition: all .3s ease-out;
            -webkit-transition: all .3s ease-out;
            -moz-transition: all .3s ease-out;
            -o-transition: all .3s ease-out;
            cursor: pointer;
            box-shadow: 0 0 30px 0 #000;
        }

        .amcharts-pie-slice:hover {
            transform: scale(1.1);
            filter: url(#shadow);
        }

    </style>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div align="right">
                <small>Zalogowano jako</small>
                <a href="{% url 'profile' %}" class="btn btn-link">
                    <small>{{ user.username }}</small>
                </a>&middot<a href="#" class="btn btn-link">
                <small>Ustawienia</small>
            </a>&middot<a href="{% url 'logout' %}" class="btn btn-link">
                <small>Wyloguj</small>
            </a>

            </div>

            <div class="row">
                <div class="col-md-3" style="padding-right: 0">
                    <input class="form-control" type="text" placeholder="Wyszukaj tytuł, autora bądź użytkownika">
                </div>
                <div class="col-sm-1" style="padding-left: 0">
                    <p>
                        <button type="button" class="btn btn-link">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </p>
                </div>
            </div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">Strona główna</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="{% url 'profile' %}">{{ user.username }}</a></li>
                        <li><a href="#">Historia czytania</a></li>
                        <li><a href="#">Ulubione książki</a></li>
                        <li><a href="{% url 'stats' %}">Statystyki</a></li>
                        <li><a href="#">Znajomi</a></li>
                    </ul>
                </div>
            </nav>


            <div class="row">
                <div class="col-md-4">
                    <p class="text-center"><strong style="font-size: x-large">{{ book__count }}</strong><br>liczba książek</p>
                </div>
                <div class="col-md-4">
                    <p class="text-center"><strong style="font-size: x-large">{{ on_page__sum }}</strong><br>łącznie stron</p>
                </div>
                <div class="col-md-4">
                    <p class="text-center"><strong style="font-size: x-large">{{ book__max_pages__avg|floatformat:"1" }}</strong><br>średnia długość książki</p>
                </div>
            </div>



            <div class="well" style="margin-top: 20px">
                <h3>Oś czasu</h3>
                <p>Najwięcej stron jednego dnia: <strong> {{ pages_read__sum__max }}</strong></p>
                <hr style="border: 1px solid lightgrey">
                <h4 class="text-center">Liczba stron przeczytanych każdego dnia</h4>
                <div id="chartdiv"></div>
            </div>

            <div class="well">
                <h3>Autorzy</h3>
                <p>Łącznie autorów: <strong> {{ book__author__count }}</strong> &middot;
                    <a href="#" class="text-right" style="color: dimgrey">Zobacz wszystkich</a>
                </p>
                <hr style="border: 1px solid lightgrey">
                <h4 class="text-center">Liczba przeczytanych stron każdego autora</h4>
                <div id="piediv"></div>

            </div>


        </div>
    </div>
</div>
</body>

<script>
    var chart1 = AmCharts.makeChart("piediv", {
        "type": "pie",
        "startDuration": 0,
        "theme": "light",
        "addClassNames": true,
        "legend": {
            "position": "right",
            "marginRight": 100,
            "autoMargins": false
        },
        "innerRadius": "30%",
        "defs": {
            "filter": [{
                "id": "shadow",
                "width": "200%",
                "height": "200%",
                "feOffset": {
                    "result": "offOut",
                    "in": "SourceAlpha",
                    "dx": 0,
                    "dy": 0
                },
                "feGaussianBlur": {
                    "result": "blurOut",
                    "in": "offOut",
                    "stdDeviation": 5
                },
                "feBlend": {
                    "in": "SourceGraphic",
                    "in2": "blurOut",
                    "mode": "normal"
                }
            }]
        },
        "dataProvider": [
            {% for author in stats %}
            {
            "author": "{{ author.book__author__name }}",
            "pages": "{{ author.on_page__sum }}"
            }
                {% if not forloop.last %} , {% endif %}
            {% endfor %}
        ],
        "valueField": "pages",
        "titleField": "author",
        "export": {
            "enabled": true
        }
    });

    chart1.addListener("init", handleInit);

    chart1.addListener("rollOverSlice", function (e) {
        handleRollOver(e);
    });

    function handleInit() {
        chart1.legend.addListener("rollOverItem", handleRollOver);
    }

    function handleRollOver(e) {
        var wedge = e.dataItem.wedge.node;
        wedge.parentNode.appendChild(wedge);
    }

</script>
<script>
    var chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "light",
        "marginRight": 40,
        "marginLeft": 40,
        "autoMarginOffset": 20,
        "mouseWheelZoomEnabled": true,
        "dataDateFormat": "YYYY-MM-DD",
        "valueAxes": [{
            "id": "v1",
            "axisAlpha": 0,
            "position": "left",
            "ignoreAxisWidth": true
        }],
        "balloon": {
            "borderThickness": 1,
            "shadowAlpha": 0
        },
        "graphs": [{
            "id": "g1",
            "balloon": {
                "drop": true,
                "adjustBorderColor": false,
                "color": "#ffffff"
            },
            "bullet": "round",
            "bulletBorderAlpha": 1,
            "bulletColor": "#FFFFFF",
            "bulletSize": 5,
            "hideBulletsCount": 50,
            "lineThickness": 2,
            "title": "red line",
            "useLineColorForBulletBorder": true,
            "valueField": "value",
            "balloonText": "<span style='font-size:18px;'>[[value]]</span>"
        }],
        "chartScrollbar": {
            "graph": "g1",
            "oppositeAxis": false,
            "offset": 30,
            "scrollbarHeight": 80,
            "backgroundAlpha": 0,
            "selectedBackgroundAlpha": 0.1,
            "selectedBackgroundColor": "#888888",
            "graphFillAlpha": 0,
            "graphLineAlpha": 0.5,
            "selectedGraphFillAlpha": 0,
            "selectedGraphLineAlpha": 1,
            "autoGridCount": true,
            "color": "#AAAAAA"
        },
        "chartCursor": {
            "pan": true,
            "valueLineEnabled": true,
            "valueLineBalloonEnabled": true,
            "cursorAlpha": 1,
            "cursorColor": "#258cbb",
            "limitToGraph": "g1",
            "valueLineAlpha": 0.2
        },
        "valueScrollbar": {
            "oppositeAxis": false,
            "offset": 50,
            "scrollbarHeight": 10
        },
        "categoryField": "date",
        "categoryAxis": {
            "parseDates": true,
            "dashLength": 1,
            "minorGridEnabled": true
        },
        "export": {
            "enabled": true
        },
        "dataProvider": [
            {% for hist in history %}
            {
            "date": "{{ hist.time|date:"Y-m-d" }}",
            "value": {{ hist.pages_read__sum }}
            }

                {% if not forloop.last %} , {% endif %}
            {% endfor %}
        ]
    });

    chart.addListener("rendered", zoomChart);

    zoomChart();

    function zoomChart() {
        chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
    }
</script>


</html>
