{% extends "base.html" %}
{% load mathfilters %}
{% load staticfiles %}

{% block scripts %}
    <script type="text/javascript" src="../../../static/book_stats/bookhistorybutton.js"
            xmlns="http://www.w3.org/1999/html"></script>

    <script type="text/javascript" src="{% static 'book_stats/popconfirm/jquery.popconfirm.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".forsake").popConfirm({
                title: "Potwierdzenie",
                content: "Czy na pewno chcesz porzucić tę książkę?",
                placement: "top"
            });
        })
    </script>

{% endblock %}
{% block style %}
    .glyphicon-ok:hover, .glyphicon-trash:hover {
    font-weight: bolder;
    }
    .progress {
    border-bottom: 1px ridge slategrey;
    border-right: 1px ridge slategrey;
    }
{% endblock %}

{% block content %}

    <div class="modal fade" id="form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div class="modal fade" id="input_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Dodaj postęp</h4>
                </div>
                <div id="form-modal-body" class="modal-body" style="height:150px;">
                    <form>
                        <fieldset>
                            <div>
                                <div class="col-sm-6"><b> Podaj liczbę stron: </b></div>
                                <input class="col-sm-6" type="number" id="pages">
                            </div>
                            <div>
                                <div class="col-sm-6"><b> Wybierz książkę:</b></div>
                                <select class="col-sm-6" id="book">
                                    {% for book in object_list %}
                                        <option> {{ book.book.title }} </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div>
                                <div class="col-sm-6"><b> Podaj czas czytania (w minutach): </b></div>
                                <input class="col-sm-6" type="number" id="time">
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="add_hist" type="submit" class="btn btn-success"><span
                            class="glyphicon glyphicon-floppy-disk"></span> Dodaj
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-md-6">
                <h3>Teraz czytane</h3>
            </div>
            <div class="col-md-6" style="text-align: right">
                <div class="btn-group-vertical">
                    <a data-toggle="modal" type="button" class="btn btn-info btn-lg"
                       href="{% url 'form' %}" data-target="#form-modal" style="margin-bottom: 10px">
                        <span class="glyphicon glyphicon-book"></span>&nbsp;Rozpocznij nową książkę
                    </a>

                    <button data-toggle="modal" data-target="#input_modal" type="button" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-bookmark"></span> &nbsp;Oznacz swój postęp
                    </button>
                </div>
            </div>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th>Książka</th>
                <th>Ostatnio otwarta</th>
                <th style="text-align: center">Postęp</th>
            </tr>
            </thead>
            <tbody>
            {% for book_stats in object_list %}
                <tr>
                    <td>
                        <form action="{% url 'love' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ book_stats.book.title }}" name="title">
                            <input type="hidden" value="{{ book_stats.book.author }}" name="author">
                            <input type="hidden" value="/stats/user/" name="return">

                            <a href="#" onclick="$(this).closest('form').submit()" data-toggle="tooltip"
                                    {% if book_stats.loves %}
                               title="Usuń z ulubionych" style="color:brown"
                                    {% else %}
                               title="Dodaj do ulubionych" style="color:rosybrown"
                                    {% endif %}>
                                <span class="glyphicon glyphicon-heart"></span>
                            </a>
                        </form>


                        <script>
                            $(document).ready(function () {
                                $('[data-toggle="tooltip"]').tooltip();
                            });
                        </script>
                    </td>
                    <td>
                        <a href="#" style="color:darkslategrey"> {{ book_stats.book.author }}</a> &mdash;
                        <a href="#" style="color:darkslategrey"> {{ book_stats.book.title }}</a>
                    </td>
                    <td>
                        <a href="#" style="color: black">{{ book_stats.last_time_used }}</a></td>
                    <td style="text-align: center">
                        {% csrf_token %}
                        <div class="row">
                            <form action="{% url 'progress' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" value="{{ book_stats.book.title }}" name="title">
                                <input type="hidden" value="{{ book_stats.book.author }}" name="author">

                                <div class="col-md-3 col-md-offset-3">
                                    <input class="form-control" type="number" value="{{ book_stats.on_page }}"
                                           name="page">
                                </div>

                                <div class="col-md-3" style="text-align: left; padding-left: 0">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <p class="form-control-static">/{{ book_stats.book.max_pages }}</p>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-link">
                                                <span class="glyphicon glyphicon-ok" style="color:green"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="col-md-3" style="text-align: right">

                                <form action="{% url 'forsake' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{ book_stats.book.title }}" name="title">
                                    <input type="hidden" value="{{ book_stats.book.author }}" name="author">

                                    <button type="submit" class="btn btn-link forsake">
                                        <span class="glyphicon glyphicon-trash" style="color: darkred"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <br>
                        <!--<p style="font-size: 18px"><strong>240</strong><small>/320</small></p>-->

                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="{{ book_stats.on_page }}"
                                 aria-valuemin="0"
                                 aria-valuemax="{{ book_stats.book.max_pages }}"
                                 style="width:{{ book_stats.on_page|div:book_stats.book.max_pages|mul:100 }}%">
                                {{ book_stats.on_page|div:book_stats.book.max_pages|mul:100|floatformat:"0" }}%
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}